<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-show="moduleUrl" href="moduleUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" content="'mm.core.refresh' | translate"  action="refresh()" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <mm-loading hide-until="tutorialbookingLoaded">
        <ion-content padding="true" mm-state-class>
            <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" on-refresh="refresh()" ng-if="tutorialbookingLoaded"></ion-refresher>
            <div class="card">
                <div class="item item-text-wrap item-heading clearfix">
                    <h1>{{title}}</h1>
                    <div ng-if="locked" class="badge badge-inline badge-assertive">{{ 'mma.mod_tutorialbooking.locked' | translate }}</div>
                </div>
                <div class="item item-body">
                    <mm-format-text>{{description}}</mm-format-text>
                </div>
            </div>
            <ul class="list" ng-if="slots">
                <li class="card" ng-repeat="slot in slots">
                    <div class="item item-text-wrap item-heading clearfix">
                        <h2>{{slot.title}}</h2>
                        <div class="badge badge-inline badge-positive">{{ 'mma.mod_tutorialbooking.totalspaces' | translate }} <span>{{slot.spaces}}</span></div>
                        <div class="badge badge-inline badge-calm">{{ 'mma.mod_tutorialbooking.usedspaces' | translate }} <span>{{slot.usedspaces}}</span></div>
                        <div class="badge badge-inline {{freeBadgeClass(slot)}}">{{ 'mma.mod_tutorialbooking.freespaces' | translate }} <span>{{freespaces(slot)}}</span></div>
                    </div>
                    <div class="item item-body">
                        <div ng-if="signedup && slot.signedup" class="badge badge-inline badge-positive">{{ 'mma.mod_tutorialbooking.yousignedup' | translate }}</div>
                        <mm-format-text ng-if="slot.location">{{slot.location}}</mm-format-text>
                        <mm-format-text>{{slot.summary}}</mm-format-text>
                        <p ng-if="canSignup">
                            <a ng-if="displaySignup(slot)" ng-click="signup(slot.id)" class="button button-outline button-balanced">{{ 'mma.mod_tutorialbooking.signup' | translate }}</a>
                            <a ng-if="displayRemoveSignup(slot)" ng-click="removeSignup(slot.id)" class="button button-outline button-assertive">{{ 'mma.mod_tutorialbooking.removesignup' | translate }}</a>
                        </p>
                    </div>
                </li>
            </ul>
        </ion-content>
    </mm-loading>
</ion-view>